* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

.blob-profile{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  border-radius: 49% 51% 52% 48% / 22% 20% 80% 78%  ;
  transition:  border-radius 500ms ease-in-out;
  background-color: #2C74B3;
}

.blob-profile:hover{
  border-radius: 61% 39% 42% 58% / 36% 31% 69% 64% ;
}
